
body{

     margin:0px;
     padding: 5px 5px;
     max-width: inherit;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}

.container {
    display: flex;
    flex: 1;
}
    
header {
        background-image:linear-gradient(#f1f1f1,#e41409);
        background-position: center;
        background-size: inherit;
        font: size 20px;
        border-style: solid;
        border-radius: 10px;
        padding: 10px 10px;
        font-size: 20px;
        font-weight: 100px;
        text-align: center;
}

p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 0 8px;
}
    
main {
        /*
        border-style: solid;
        border: 3 3 3 3;
        border-radius: 10px;
                */
                
        flex:1;
        padding:20px 20px;
        text-align: center;       
        margin-top: 0px;
        background-image:linear-gradient(#d32518,#858a90,#081b9c);
       
}

ol{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.questbox{
        text-align: center;
        border-style: solid;
        border: 3 3 3 3;
        border-radius: 10px;
        /*margin-left:5px;
        margin-right: 5px;
        margin-top: 5px;*/
        margin: 10px;
        padding-bottom: 5px; 
        font-size: 20px;
        font-weight: 100px;           
}
button{
        padding-top: 5px;
        text-align: center;
        margin: 5px;
        font-size: 20px;
        font-weight: bolder;

}
    
nav{        
        text-align: center;
        flex: 0 0 180px;
        padding: 0 10px;
        order: -1;
        background-image:linear-gradient(#d32518,#858a90,#081b9c);
}

aside{
        
        text-align: center;
        flex:0 0 180px;
        padding: 0 10px;
        background-image:linear-gradient(#d32518,#858a90,#081b9c);
        
}
  

footer {
        text-align: center;
        padding: 0.3em 0;
        background-image:linear-gradient(#081b9c,#ecd7d7);
}
.button{
        position:absolute;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        font-weight: bolder;
        text-decoration: none;
        color: black;
        border: rgb(143, 17, 5) 5px solid;
        padding: 20px 20px;
        border-radius: 20px;
        margin-top: 20px;   
}
.button:hover{
        background-color: rgb(11, 96, 24);
        color:white;
}
.button0{
        position:absolute;
        top:70%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        font-weight: bolder;
        text-decoration: none;
        color: black;
        border: rgb(143, 17, 5) 5px solid;
        padding: 20px 20px;
        border-radius: 20px;
        margin-top: 20px;   
}
.button0:hover{
        background-color: rgb(11, 96, 24);
        color:white;
}
.button1{
    position:absolute;
    top:70%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    border: green 5px solid;
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 20px; 

}
.button1:hover{
        background-color: rgb(213, 12, 45);
        color:white;}

.timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 145px;
        height: 45px;
        background:#5d97d5;
        border: 1px;
        border-radius: 5px;
        padding:0 8px;     
             
}
.time_test{
        font-weight: 400;
        font-size: 17px;
        user-select: none;
}

.timer_sec{
        font-size: 18px;
        font-weight: 500;
        background: #334a40;
        height: 30px;
        width: 45px;
        color:#fff;
        text-align:center;
        line-height: 30px;
        border-radius: 5px;
        border: 1px solid #344a40;
        user-select: none;
}
